<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rrosatti.memorykeeper">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SignUpActivity"
            android:label="@string/label_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MemoryListActivity"
            android:label="@string/label_memory_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewMemoryActivity"
            android:label="@string/label_new_memory"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.QRCodeLoginActivity"
            android:label="@string/label_qrcode_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FingerprintLoginActivity"
            android:label="@string/label_fingerprint_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailedMemoryActivity"
            android:label="@string/label_detailed_memory"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>